extends layout

block content
  .row
    .col
      .card.shadow.border-left-success.py-2
        .card-body
          .row.align-items-center.no-gutters
            .col.mr-2
              span Item Number
              form(action='/search' method='GET')
                .form-row
                  .col-lg-12
                    input.form-control(name='item_id' type='text' value=data.item_id) 
                    button.btn.btn-primary(type='submit').float-right Search
                .form-row
                  .col-lg-12
                    label
                      input(name='hide_outofstock' type='checkbox' checked='checked' value=data.hide_outofstock) 
                      | &nbsp; Hide out of stock
              .text-dark.font-weight-bold.h5.mb-0
  if data.results.length > 0
    .row
      .col
        .card.border-left-success.py-2
          .card-body
            h4.card-title Product
            p.card-text
            if (data.item_data)
              .row
                .col-lg-6
                  ul
                    li= data.item_data.name
                    li= data.item_data.brand
                .col-lg-6
                  img(src=data.item_data.image)
    .row
      .col
        .card.border-left-success.py-2
          .card-body
            h4.card-title Search Results
            if message
              p #{message}
            table.table
              thead  
                tr
                  th Store
                  th Status
                  th Aisle
                  th Stock Count
              tbody
                each val in data.results
                  if !(data.hide_outofstock && val.StockCount == 0)
                    tr
                      td= val.StoreName
                      td= val.Status
                      td= val.Aisle
                      td= val.StockCount
  else
    table.table
      thead
        tr
          th Common Searches
        tbody
          tr
            td
              a(href='/search?item_id=1560214') Diggers Violet Meths 1L
          tr
            td
              a(href='/search?item_id=1565766') Diggers Meths 4L
          tr
            td
              a(href='/search?item_id=1563497') Diggers Meths 20L

